.flux-row {
  @include clear-fix;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.flux-demo-col {
  float: left;
  width: 20%;
}

.flux-filter-box {
  background-color: rgba(0, 0, 0, .05);
  float: left;
  padding: 10px;
  width: 100%;
}

.flux-searchInput {
  font-size: 16pt;
  padding: 10px;
  width: 100%;

  &:focus {
    border: 1px solid $rackspace-red;
    outline: 0;
  }
}

.form-item {
  label {
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}
