$fade-black: rgba(0, 0, 0, .5);

.rsFilter-pagination-nav {
  display: flex;
  margin: 35px 0;
}

.rsFilter-pagination-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.rsFilter-pagination-link {
  border: 1px solid $fade-black;
  padding: 5px 8px;

  &:hover {
    background-color: $fade-black;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
}

.rsFilter-pagination-item {
  float: left;
  margin-right: 10px;

  &.active > .rsFilter-pagination-link {
    background-color: $fade-black;
    color: #fff;
  }
}

.rsFilter-pagination-next {
  .rsFilter-pagination-link {
    color: transparent;
    font-size: 8pt;

    &::before {
      color: $fade-black;
      content: '>';
      font-size: 12pt;
    }
  }
}

.rsFilter-pagination-back {
  .rsFilter-pagination-link {
    color: transparent;
    font-size: 8pt;

    &::before {
      color: $fade-black;
      content: '<';
      font-size: 12pt;
    }
  }
}
