<!-- <div class="flux-sideBar-container">
  <div class="flux-topBar">
    <div class="flux-topBar-logo">
      Vue Filter
    </div>
  </div>
  <div class="flux-sideBar-layout">
    <div class="flux-sideBar">
      <ul class="flux-sideBar-list">
        <sidebar-links
          v-for="(link, index) in links"
          :key="index"
          :link="link"
          :depth="20">
       </sidebar-links>
      </ul>
    </div>
    <div class="flux-sideBar-right">
      <router-view></router-view>
    </div>
  </div>
</div> -->

<div class="rsFilter-section">
   <div class="rsFilter-sideBar-row">
      <div ref="sideBar" class="rsFilter-sideBar rsFilter-refreshSideBar">
         <form class="rsFilter-sideBar-form">
            <div class="rsFilter-sideBar-titleContainer">
               <button class="rsFilter-sideBar-hamburger"></button>
               <div class="rsFilter-sideBar-formTitle">Find a Resource</div>
               <input
                class="rsFilter-sideBar-reset"
                @click.prevent="clearAll"
                type="reset"
                value="Clear All">
            </div>
            <!-- Accordion Filter Bar -->
            <div class="rsFilter-sideBar-content">
               <ul class="rsFilter-sideBar-acc">
                  <li v-if="filters" class="rsFilter-sideBar-accItem" v-for="(value, key) in filters">
                    <label class="rsFilter-sideBar-accLabel">{{ key }}</label>
                    <div class="rsFilter-sideBar-accItemContent">
                      <div class="rsFilter-sideBar-checkbox">
                        <div class="rsFilter-formCheckItem row-eq-height" v-for="filter in value">
                           <span>
                           <input
                            class="option"
                            type="checkbox"
                            :id="filter"
                            :name="filter"
                            @change="updateContent($event, filter)"
                            v-model="models[key][filter]"
                            :value="filter">
                           </span>
                           <label :for="filter" :title="filter">{{ filter }}</label>
                        </div>
                      </div>
                    </div>
                  </li>
               </ul>
               <!-- <div class="rsFilter-sideBar-btnWrap">
                  <input class="rsFilter-sideBar-submit form-submit" type="submit" id="edit-submit-resource-library" name="" value="Show Results">
               </div> -->
            </div>
         </form>
      </div>
      <!-- filter content -->
      <router-view :models="models"></router-view>
   </div>
</div>