<div class="rsFilter-section">
   <div class="rsFilter-sideBar-row">
      <div ref="sideBar" class="rsFilter-sideBar rsFilter-refreshSideBar">
         <form class="rsFilter-sideBar-form">
            <div class="rsFilter-sideBar-titleContainer">
               <button class="rsFilter-sideBar-hamburger"></button>
               <div class="rsFilter-sideBar-formTitle">Find a Resource</div>
               <input
                class="rsFilter-sideBar-reset"
                @click.prevent="clearAll"
                type="reset"
                value="Clear All">
            </div>
            <!-- Accordion Filter Bar -->
            <div class="rsFilter-sideBar-content">
               <ul class="rsFilter-sideBar-acc">
                  <li v-if="filters" class="rsFilter-sideBar-accItem" v-for="(value, key) in filters">
                    <label class="rsFilter-sideBar-accLabel">{{ translate(key) | capitalize }}</label>
                    <div class="rsFilter-sideBar-accItemContent">
                      <div class="rsFilter-sideBar-checkbox">
                        <div class="rsFilter-formCheckItem row-eq-height" v-for="filter in value">
                           <span>
                           <input
                            class="option"
                            type="checkbox"
                            :id="filter"
                            :name="filter"
                            @change="updateContent($event, filter)"
                            v-model="models[key][filter]"
                            :value="filter">
                           </span>
                           <label :for="filter" :title="filter">{{ translate(filter) }}</label>
                        </div>
                      </div>
                    </div>
                  </li>
               </ul>
               <!-- TODO decide if we want this? -->
               <!-- <div class="rsFilter-sideBar-btnWrap">
                  <input class="rsFilter-sideBar-submit form-submit" type="submit" id="edit-submit-resource-library" name="" value="Show Results">
               </div> -->
            </div>
         </form>
      </div>
      <!-- filter content -->
      <router-view :content="content" :models="models" :data-error="dataError"></router-view>
   </div>
</div>